<div id="container">
  <h1>Da fare</h1>
  <form (ngSubmit)="onSubmit(addItem.value)" #itemForm="ngForm">
    <div id="formContainer">
      <input id="add" class="form-control" type="text" name="addItem" placeholder="Terminare To do list" required
        [(ngModel)]="model.addItem" #addItem="ngModel" maxlength="60">
      <button class="btn btn-primary" type="submit" [disabled]="itemForm.form.invalid">Aggiungi</button>
    </div>
  </form>
</div>


<div id="list">
  <ul class="list-group" *ngFor="let addItem of list; let i=index">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input id="check" type="checkbox">
      </div>
      <li class="form-control">
        <h5>{{addItem}}<i (click)="remove(i, 1)" class=" fa fa-trash"></i></h5>
      </li>
    </div>
  </ul>
</div>